


div.clock-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:75%;
    cursor: move;
    user-select: none;
    background:rgba(255,0,0,0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}


div.clock-container.partially-supported,
div.clock-container.not-supported {
    cursor: default;
}


div.clock-container.not-supported {
    display: none;
}

div.clock-wrapper {
    top:0px;
    right:0px;
    width: 400px;
    height: 400px;
    position: absolute;
    margin:0%;
   
    background: rgba(0, 0, 0, 0.0);
    background-size:100%;
 
    perspective: 500;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    -o-perspective: 500;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
}

div.clock-wrapper div {
    position: absolute;
}

div.clock.autopilot {
     transition: transform 1750ms ease-in-out;
     -webkit-transition: -webkit-transform 1750ms ease-in-out;
     -moz-transition: -moz-transform 1750ms ease-in-out;
     -ms-transition: -ms-transform 1750ms ease-in-out;
     -o-transition: -o-transform 1750ms ease-in-out;

}

div.clock {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style:  preserve-3d;
    -o-transform-style: preserve-3d;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;

    background: rgba(0, 0, 0, 0.0);
   
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    margin:0%;

    border-radius:50%;
    background-image:url(clock.png);
    background-size: 100% 100%;

 
    transform: translateZ(-40px);
    -webkit-transform: translateZ(-40px);
    -moz-transform: translateZ(-40px);
    -ms-transform: translateZ(-40px);
    -o-transform: translateZ(-40px);
 
}

div.top, div.right, div.bottom, div.left {
    background: #777;
}

div.top {
    bottom: 100%;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform-origin: 0  100%;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
}

div.right {
    left: 100%;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
}

div.bottom {
    top: 100%;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
}

div.left {
    right: 100%;
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
}


div.facet {
    width: 4%; 
    height: 4%;
    left:-2%;
    top:-49.5%;
    margin:50%;
    border-radius:50%;
    background: white;

    transform-origin: 50% 1250%;
    -webkit-transform-origin: 50% 1250%;
    -moz-transform-origin: 50% 1250%;
    -ms-transform-origin: 50% 1250%;
    -o-transform-origin: 50% 1250%;

    transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    -o-transform: translateZ(1px);
}

div.facets {
    width: 100%;
    height: 100%;
}

div.facets > div:nth-child(1) {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

div.facets > div:nth-child(2) {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

div.facets > div:nth-child(3) {
     
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

div.facets > div:nth-child(4) {
     
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}

div.facets > div:nth-child(5) {
     
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
}

div.facets > div:nth-child(6) {
     
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


div.facets > div:nth-child(7) {
     
    transform: rotate(210deg);
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
}


div.facets > div:nth-child(8) {
     
    transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
}


div.facets > div:nth-child(9) {
     
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}


div.facets > div:nth-child(10) {
     
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
}

div.facets > div:nth-child(11) {
     
    transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -o-transform: rotate(330deg);
}


div.facets > div:nth-child(12) {
     
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

div.hands {
    top:   -40%;
    left:   -3%;
    width:   6%;
    height: 40%;
    margin: 50%;
}

div.hour-wrapper {
    height: 100%;
    width: 100%;

    transform: translateZ(5px);
    -webkit-transform: translateZ(5px);
    -moz-transform: translateZ(5px);
    -ms-transform: translateZ(5px);
    -o-transform: translateZ(5px);

}

div.minute-wrapper {
    height: 100%;
    width: 100%;

    transform: translateZ(10px);
    -webkit-transform: translateZ(10px);
    -moz-transform: translateZ(10px);
    -ms-transform: translateZ(10px);
    -o-transform: translateZ(10px);
}

div.second-wrapper {
    height: 100%;
    width: 100%;

    transform: translateZ(15px);
    -webkit-transform: translateZ(15px);
    -moz-transform: translateZ(15px);
    -ms-transform: translateZ(15px);
    -o-transform: translateZ(15px);
}

div.hour {
    top: 30%;
    right: 20%;
    left: 20%;
    bottom: 0px;

    background: white;

    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}

div.minute {    
    top: 5%;
    right: 32%;
    left: 32%;
    bottom: 0px;

    background: white;

    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}

div.second {
    top: 0;
    right: 45%;
    left: 45%;
    bottom: 0px;

    background: white;

    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}

div.pin {
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;

    margin: 50%;

    background:white;
    border-radius: 50%;
 
    transform: translateZ(15px);
    -webkit-transform: translateZ(15px);
    -moz-transform: translateZ(15px);
    -ms-transform: translateZ(15px);
    -o-transform: translateZ(15px);
}


div.hands div.back {
    transform:  translateZ(-5px) rotateX(180deg);
    -webkit-transform: translateZ(-5px) rotateX(180deg);
    -moz-transform: translateZ(-5px) rotateX(180deg);
    -ms-transform: translateZ(-5px) rotateX(180deg);
    -o-transform:  translateZ(-5px) rotateX(180deg);
}

#circle { width: 100px; height: 100px; background: red; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }