body
{
    display: block;
    background: #0f1012 url('hello_nfc.jpg') no-repeat center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3
{
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
	margin: auto;
	font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #555;
    text-align: center;
}

h2 { font-size: 17px; }
h3 { font-size: 16px; }

button::-moz-focus-inner {
    border: 0; }

button.read {
    background: #4162a8;
    border-top: 1px solid #38538c;
    border-right: 1px solid #1f2d4d;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 12px 0;
    text-align: center;
    text-shadow: 0px -1px 1px #1e2d4d;
    width: 150px;
    -webkit-background-clip: padding-box; }
button.read:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
button.read:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 58px; }
button[disabled],
button[disabled]:hover,
button[disabled]:active {
    background: #999;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #aaa;
    cursor: not-allowed;
    text-shadow: none; }

button {
    margin-top: 10px; }

button.read {
    margin-top: 10px; }

